# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.rtexe
**\Builds\**
**\builds\**
\builds\**
\builds\*

# Metadata
*.aliases
*.lvlps
.cache/

# nt tables log files
*.wpilog

